@use '../abstract/index' as *;

.cta{
    background-image:linear-gradient(rgba(60, 62, 107, 0.8), rgba(60, 62, 107, 0.8)), url('../../src/img/advokatska-kancelarija-beograd.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;

    &__wrapper{
        border: 1px solid $text-color;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 10rem;
    }

    &__heading{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__text{
        max-width: 750px;
        line-height: 1.7;
        margin: auto;
    }

    &__body{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__info{
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__desc{
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 0.5rem;
    }

    &__btn{
        color: $primary-color;
        background-color: #fff;
        padding: 1rem 1.5rem;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        border: 2px solid $primary-color;
        margin-top: 1rem;
        align-self: center;

        &:hover{
            background: $primary-color;
            color: #fff;
        }
    }
}