@use '../abstract/index' as *;

.footer{
    background-color: $primary-color;
    color: $white-color;

    padding: 70px 0 0;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        row-gap: 3rem;
        padding-bottom: 4rem;

        @include rwd(1200){ flex-direction: column; }
    }

    &__item{ 
        flex: 0 0 22%;
        
        // &--logo{ 
        //     align-self: center;

        //     @include rwd(1200){
        //         align-self: flex-start;
        //         order: -1;
        //     }
        //  }
    }

    &__heading{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__list{
         @include flex(flex-start, stretch, column, 0.5rem); 
        
         &--space{
            
             li{ 
                display: flex;
                justify-content: space-between;
            }
         }
    }

    &__link{
        color: $white-color;

        &:hover{ color: $text-color; }
    }

    .fa-solid,
    .fa-brands{
        color: $white-color;

        margin-right: 0.5rem;
    }

    &__copy{
        border-top: 1px solid $white-color;

        padding: 1rem 10%;
    }
}