@use '../abstract/index' as *;

.footer{
    padding: 70px 0 0;
    border-top: 2px solid $primary-color;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        row-gap: 3rem;
        padding-bottom: 4rem;

        @include rwd(1200){ flex-direction: column; }
    }

    &__item{ 
        flex: 0 0 22%;
        
        &--logo{ 
            align-self: center;

            @include rwd(1200){
                align-self: flex-start;
                order: -1;
            }
         }
    }

    &__title{
        color: $primary-color;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__list{ 
        @include flex(flex-start, stretch, column, 0.5rem); 
    }

    &__link{
        color: $text-color;

        &:hover{ color: $primary-color; }
    }

    .fa-solid,
    .fa-brands{
        color: $primary-color;
        margin-right: 0.5rem;
    }
}