@use '../abstract/index' as *;


.hero{
    background:linear-gradient(rgba(60, 62, 107, 0.7), rgba(60, 62, 107, 0.7)), url('../../src/img/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    @include rwd(992){ padding-top: 0; }

    &--sm{ height: 60vh }

    .nav{
        @include flex(space-between, center);
        background-color: rgba(255,255,255,0.8);
        padding: 0 2rem;
        position: relative;

        &__img{
            width: 90px;
            height: 90px;
        }

        &__list{
            display: flex;
            gap: 1.5rem;
            transition: 0.4s linear;

            @include rwd(992){ 
                position: absolute;
                top: 100%;
                left: 0%;
                background-color: #fff;
                flex-direction: column;
                padding: 2rem;
                width: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            &.active{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
        }

        &__link{
            color: $primary-color;
            font-weight: 600;

            &:hover{ color: $text-color; }
        }

        &__btn{ @include btn; }

        &__hamburger{
            display: none;
            cursor: pointer;
            font-size: 2rem;

            @include rwd(992){ display: block; }
        }
    }

    &__wrapper{
        @include flex(center, flex-start, column);
        height: 60vh;
        color: #fff;

        @include rwd(1100){
            height: 90vh;
            align-items: center;
            text-align: center;
        }

        &--sm{
            height: 30vh;

            @include rwd(1100){ height: 40vh; }
        }

    }

    &__heading{
        font-size: 3rem;
        max-width: 850px;

        @include rwd(768){ font-size: 2rem; }
    }

    &__name{
        font-size: 2rem;

        @include rwd(768){ font-size: 1.3rem; }
    }

    &__btn{
       @include btn(#fff, $primary-color, $primary-color, #fff);
       display: inline-block;
       margin-top: 1.5rem;
    }
}