@use '../abstract/index' as *;


.hero{
    background:linear-gradient(rgba(60, 62, 107, 0.8), rgba(60, 62, 107, 0.8)), url('../../src/img/advokat-beograd.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

    &--sm{ height: 70vh}

    &__wrapper{
        @include flex(center, flex-start, column);
        color: $white-color;

        height: 100vh;

        &--sm{ 
            height: 70vh;
            
            @include rwd(992){
                height: 70vh !important;
                align-items: center;
                text-align: center;
            }
        }

        @include rwd(992){
            height: 90vh;
            align-items: center;
            text-align: center;
        }
    }

    &__heading{
        font-size: 3rem;
        max-width: 850px;
        font-weight: 800;

        @include rwd(768){ font-size: 2rem; }
    }

    &__name{
        font-size: 2rem;

        @include rwd(768){ font-size: 1.3rem; }
    }

    &__btn{
       @include btn(#fff, $primary-color, $primary-color, #fff);

       display: inline-block;
       margin-top: 1.5rem;
    }
}