@use '../abstract/index' as *;  

.services{
    text-align: center;

    &__heading{
        color: $primary-color;
        font-size: 2.5rem;
    }
    
    &__list{
        @include flex(space-between, stretch, wrap);
        row-gap: 3rem;
        margin-top: 3rem;
    }
    
    &__item{
        flex: 0 0 31%;
        border:1px solid $text-color;
        padding: 2rem;
        border-radius: 5px;
        transition: 0.2s linear;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        &:hover{ transform: translateY(-20px); }

        @include rwd(1200){ flex: 0 0 45%; }
        @include rwd(768){ flex: 0 0 100%; }
    }

    &__item--bg{
        background-color: $primary-color;

        .services__img,
        .services__title,
        .services__text,
        .services__btn{
            color: #fff;
        }
    }

    &__title{
        font-size: 1.3rem;
        color: #000;
    }

    &__text{
        color: $primary-color;
        font-size: 0.9rem;
        line-height: 1.7;
        margin:1rem 0;
    }

    &__btn{
        color: $primary-color;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;

        .fa-solid{ transition: 0.4s linear; }

        &:hover .fa-solid{ transform: translateX(10px); }
    }
}

