@use '../abstract/index' as *;

.top-nav{
    @include flex(space-between);
    padding: 1.5rem 10%;
    background-color: $primary-color;

    @include rwd(1200){
        display: none;
    }

    &__contact{
        display: flex;
        gap: 1.8rem;
    }

    &__link,p{
        color: #fff;

        &:hover{
            color: $primary-color;
        }
    }

    .icon{
        margin-right: 0.1rem;
        font-size: 15px;
    }
}