@use '../abstract/index' as *;

.top-nav{
    @include flex(space-between, center);
    background-color: $primary-color;

    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 10%;
    
    @include rwd(1200){ display: none; }

    &__contact{
        display: flex;
        gap: 1.8rem;
    }

    &__link{
        color: $white-color;

        &:hover{ color: $text-color; }
    }

    .fa-solid{
        margin-right: 0.1rem;
        font-size: 0.9rem;
    }
}

