@use '../abstract/index' as *;

.top-nav{
    @include flex(space-between);
    background-color: $primary-color;
    padding: 1rem 10%;

    @include rwd(1200){ display: none; }

    &__contact{
        display: flex;
        gap: 1.8rem;
    }

    &__link{
        color: #fff;

        &:hover{ color: $text-color; }
    }

    .fa-solid{
        margin-right: 0.1rem;
        font-size: 15px;
    }
}