@use "./variables.scss" as *;

@mixin flex(
  $justify: flex-start,
  $align: stretch,
  $flow: row nowrap,
  $gap: 0,
  $basis: auto
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
  gap: $gap;
}

@mixin position(
  $position: absolute,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $width: auto,
  $height: auto
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;

  @if ($left == 50% and $top == 50%) {
    transform: translate(-50%, -50%);
  } @else if($left == 50%) {
    transform: translateX(-50%);
  } @else if($top == 50%) {
    transform: translateY(-50%);
  }
}


@mixin rwd($pixels, $type: max) {
  @media (#{$type}-width: #{$pixels}px) {
    @content;
  }
}

@mixin btn($bg:$primary-color, $color:#fff, $bg-hover:transparent, $color-hover:$primary-color){
  background-color: $bg;
  color: $color;
  border: 2px solid $primary-color;

  padding: 1rem 1.5rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s linear;
  cursor: pointer;

  &:hover{
      background-color: $bg-hover;
      color: $color-hover;
  }

  @include rwd(576){ padding: 1rem; }
}
